<mat-card matRipple class="flex flex-grow overflow-hidden p-4">
    <a class="flex flex-grow flex-col" [routerLink]="['/news', newsItem().id]">
        <img class="thumbnail absolute inset-0 h-full w-full object-cover object-top" [ngSrc]="newsItem().image" alt="Background image" fill loading="lazy" />
        <div class="info-container z-20 flex flex-grow flex-col">
            <span class="flex-grow"></span>
            <span class="mat-headline-large mb-0">{{ newsItem().title }}</span>
            <span class="mat-label-medium self-baseline rounded-full opacity-50">
                Posted by {{ newsItem().author }} •
                {{ newsItem().created | dateAgo }}
            </span>
        </div>
    </a>
</mat-card>
