:host {
    display: block;
    height: 100vh;
}

.portal-container {
    height: 100%;
}

.portal-sidenav {
    width: 260px;
    border-right: none !important;
}

.portal-content {
    display: flex;
    flex-direction: column;
}
