@use "@angular/material" as mat;
@use "theming/typography" as typography;
@use "theming/colors" as colors;

// Tailwind
@import "./tailwind.css";

html {
    height: 100%;
    color-scheme: dark;
    accent-color: var(--color-primary);

    @include mat.theme(
        (
            color: (
                primary: colors.$primary-palette,
                tertiary: colors.$tertiary-palette,
            ),
            typography: (
                plain-family: "Semplicita Pro",
                brand-family: "Semplicita Pro",
            ),
            density: 0,
        )
    );

    @include mat.button-overrides(
        (
            filled-label-text-transform: uppercase,
            outlined-label-text-transform: uppercase,
            protected-label-text-transform: uppercase,
            text-label-text-transform: uppercase,
            tonal-label-text-transform: uppercase,
        )
    );

    @include mat.card-overrides(
        (
            elevated-container-color: --alpha(var(--color-surface-container-low) / 75%),
        )
    );

    @include mat.menu-overrides(
        (
            container-color: --alpha(var(--color-surface-container) / 75%),
        )
    );

    @include mat.select-overrides(
        (
            panel-background-color: --alpha(var(--color-surface-container) / 75%),
        )
    );

    @include mat.tabs-overrides(
        (
            label-text-line-height: "100%",
            divider-height: 0,
        )
    );

    @include mat.table-overrides(
        (
            background-color: transparent,
        )
    );

    @include mat.toolbar-overrides(
        (
            container-background-color: --alpha(var(--color-surface) / 75%),
        )
    );

    @include mat.progress-bar-overrides(
        (
            track-shape: calc(infinity * 1px),
        )
    );

    @include mat.paginator-overrides(
        (
            container-background-color: transparent,
        )
    );

    // mat form field does not support overrides, so we manually override variables
    .mat-mdc-form-field {
        --mat-form-field-filled-container-color: --alpha(var(--color-surface-variant) / 75%);
    }

    /* applies glass effect to material components */
    .mat-mdc-card,
    .mat-mdc-select-panel,
    .mat-mdc-menu-panel,
    .cdk-overlay-dark-backdrop {
        backdrop-filter: blur(var(--blur-lg));
    }

    @include typography.material-icons();
    @include typography.semplicita-pro();

    /* Overlayscrollbars */
    [data-overlayscrollbars-viewport] {
        display: inherit;
        flex-direction: inherit;
    }

    .os-scrollbar {
        --os-handle-bg: var(--mat-sys-surface-container-high);
        --os-handle-bg-hover: var(--mat-sys-surface-container-highest);
        --os-handle-bg-active: var(--mat-sys-surface-container-highest);
    }
}

@import "overlayscrollbars/overlayscrollbars.css";
