<div class="container m-auto flex flex-col gap-4 py-4">
    <app-card-title>
        <ng-container title>Login to your account</ng-container>
        <ng-container content>
            <span>No account yet?</span>
            <a class="text-primary hover:underline" [routerLink]="['/register']">Register</a>
        </ng-container>
    </app-card-title>
    <mat-card class="xl:w-2/3 xl:mx-auto">
        <mat-card-content>
            <app-login-form (loginSubmit)="onLoginSubmit($event)" [error]="store.error() | error"></app-login-form>
        </mat-card-content>
        @if (store.loading()) {
            <app-loading></app-loading>
        }
    </mat-card>
</div>
