<mat-toolbar class="relative bg-transparent">
    <div
        class="bg-surface/75 absolute inset-0 backdrop-blur-lg md:right-1/4 md:left-1/4 md:[mask:linear-gradient(to_right,transparent,var(--color-surface),transparent)]"
    ></div>

    @let load = loadValue();
    <mat-progress-bar
        color="primary"
        class="absolute top-0 right-0 left-0 z-10 w-auto p-0"
        style="--mdc-linear-progress-track-height: 0.125rem; --mdc-linear-progress-active-indicator-height: 0.125rem"
        [class.opacity-0]="load === 0"
        mode="determinate"
        [value]="load"
    />
    <mat-toolbar-row class="relative container mx-auto flex">
        <a class="logo z-10 w-48" routerLink="/" [ngClass]="logoAnimationClass || ''" (mouseenter)="playLogoAnimation()" (animationend)="stopLogoAnimation()">
            <svg-icon svgClass="block overflow-visible align-middle" src="./assets/images/logo.svg"></svg-icon>
        </a>
        @if (!smallScreen()) {
            @defer {
                <app-header-nav class="mx-auto flex grow justify-center" />
            }
            @if (authStore.authenticated()) {
                <span class="hidden text-xs opacity-75 lg:inline-block">Logged in as &nbsp;</span>
                <a mat-button [matMenuTriggerFor]="userMenu"
                    >{{ userStore.username() }}
                    <mat-icon class="m-0">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #userMenu="matMenu">
                    <ng-template matMenuContent>
                        <a mat-menu-item routerLink="/profile">
                            <mat-icon>account_circle</mat-icon>
                            Profile
                        </a>
                        <mat-divider />
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>logout</mat-icon>
                            Logout
                        </button>
                    </ng-template>
                </mat-menu>
            } @else {
                <div class="gap-1">
                    <a mat-button routerLinkActive="active" routerLink="/login">Login</a>
                    <a mat-flat-button color="primary" routerLinkActive="active" routerLink="/register">Sign up</a>
                </div>
            }
        } @else {
            <span class="flex-grow"></span>
            <button mat-icon-button class="mr-auto">
                <mat-icon>menu</mat-icon>
            </button>
        }
    </mat-toolbar-row>
</mat-toolbar>
